    <div class="modular-row callout modular-blog-list">
    <div class="max-width">
        <h2 class="title">آخرین اخبار</h2>
        <div class="subtitle"><p>تجارت الکترونیک, مجنتو, تکنولوژی  روز , نکات برنامه نویسی</p></div>
        <div class="blog-container">
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-1">
                        <div class="post-category"><span class="post-label">مجنتو</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">مرداد ۱۳۹۹ </span><span class="time" style="direction: rtl"> 5 دقیقه</span>
                    </div>
                    <h3 class="post-title"><a href="blog/post/magento.html" >Magento بهترین روشها برای طراحی صفحه اصلی</a></h3>

                    <div class="post-summary">
                        <p>صفحه اصلی برای بسیاری از مشتریانی که فرایند خرید خود را شروع می کنند ، یک بخش اساسی از فروشگاه تجارت الکترونیک است</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-2">
                        <div class="post-category"><span class="post-label">اخبار</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">خرداد ۱۳۹۹ </span><span class="time" style="direction: rtl"> 5 دقیقه</span>
                    </div>
                    <h3 class="post-title"><a href="blog/post/news.html" >چهار تا از بزرگترین مزیت استفاده از مجنتو برای فروشگاه تجارت الکترونیکی شما</a></h3>

                    <div class="post-summary">
                        <p> وقتی برای اولین بار تصمیم می گیرید تجارت الکترونیکی خود را به صورت آنلاین شروع کنید ، باید با استراتژی هایی روبرو شوید تا محصولات خود را در مقابل مخاطبان خود خوب جلوه دهید.
                        </p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-3">
                        <div class="post-category"><span class="post-label">پر کاربرد</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">مرداد ۱۳۹۹ </span><span class="time" style="direction: rtl"> 5 دقیقه</span>
                    </div>
                    <h3 class="post-title"><a href="blog/post/useful.html" > انواع محصولات در مجنتو 2</a></h3>

                    <div class="post-summary">
                        <p>به طور پیش فرض ، Magento 2 از 6 نوع محصول پشتیبانی می کند
                        </p>
                    </div>
                </div>
            </div>                        
        </div>

        <div class="button-container">
            <a href="blog.html" class="button action large">خواندن وبلاگ</a>
        </div>
    </div>
</div>