<div class="modular-row callout home-extensions">
    <div class="max-width">
        <h2 class="title">افزونه های مجنتو ۲</h2>

        <div class="extensions">
            <div class="extension">
                <div class="extension-wrapper">
                    <a href="/اطلاع%20رسانی%20با%20پیامک.html">
                        <div class="image">
                            <img title="magento-module-sms-notification" alt="magento-module-login-mobile" src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/extensions/magento-module-sms-notification.png')); ?>">
                        </div>

                        <h3 class="extension-title">
                            اطلاع رسانی با پیامک
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="ext-price" style="direction: rtl"> 1,450,000 تومان</div>
                    </div>
                </div>
            </div>
            <div class="extension">
                <div class="extension-wrapper">
                    <a href="/لاگین%20با%20شماره%20موبایل.html">
                        <div class="image">
                            <img title="magento-module-login-mobile" alt="magento-module-login-mobile" src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/extensions/magento-module-login-mobile.png')); ?>">
                        </div>

                        <h3 class="extension-title">
                            لاگین با شماره موبایل
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="ext-price" style="direction: rtl"> 1,500,000 تومان</div>
                    </div>
                </div>
            </div>
            <div class="extension">
                <div class="extension-wrapper">
                    <a href="/.html">
                        <div class="image">
                            <img title="magento-module-farsi-localization" alt="magento-module-farsi-localization" src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/extensions/magento-module-farsi-localization.jpg')); ?>">
                        </div>

                        <h3 class="extension-title">
                            فارسی سازی مجنتو
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="ext-price" style="direction: rtl"> 1,000,000 تومان</div>
                    </div>
                </div>
            </div>
            <div class="extension">
                <div class="extension-wrapper">
                    <a href="/solar%20history.html">
                        <div class="image">
                            <img title="magento-module-shamsi-date" alt="magento-module-login-mobile" src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/extensions/magento-module-shamsi-date.jpg')); ?>">
                        </div>

                        <h3 class="extension-title">
                            تاریخ شمسی
                        </h3>
                    </a>

                    <div class="extension-container">
                        <div class="ext-price" style="direction: rtl"> 2,500,000 تومان</div>
                    </div>
                </div>
            </div>
        </div>                                    
        <div class="button-container">
            <a href="magento2-extensions.html" class="button action large">همه افزونه های مجنتو ۲</a>
        </div>
    </div>
</div>