<?php /** @var \Magento\Framework\View\Element\Template $block */?>
<div class="modular-row callout showcase-services">
    <div class="max-width">
        <h2 class="title">سرویس های ما</h2>

        <div class="services">
            <div class="service">
                <a href="#">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magento2-migration.png')); ?>" alt="Magento 2 Migration">
                    </span>
                    <h3 class="section-header">
                        ارتقای نسخه مجنتو
                    </h3>
                </a>

                <p class="service-text">با بروزرسانی به آخرین نسخه علاوه بر استفاده از امکانات جدید امنیت وبسایت خود را بهبود دهید</p>

            </div>

            <div class="service">
                <a href="#">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/technical-theme.png')); ?>" alt="TECHNICAL CONSULTING">
                    </span>
                    <h3 class="section-header">
                        مشاوره فنی
                    </h3>
                </a>

                <p class="service-text">با افزودن یک مشاور فنی اختصاصی به پروژه خود،تیم توسعه خود را تقویت کنید</p>

            </div>

            <div class="service">
                <a href="#">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magento2-development.png')); ?>" alt="Magento 2 Development">
                    </span>
                    <h3 class="section-header">
                        توسعه مجنتو ۲
                    </h3>
                </a>

                <p class="service-text">با استفاده از تیم متخصص ما به تمامی انتظارات خود از یک فروشگاه اینترنتی به آسانی برسید</p>

            </div>
            <div class="service">
                <a href="#">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/learning.png')); ?>" alt="ARCHITECTURAL ADVISORY">
                    </span>
                    <h3 class="section-header">
                        آموزش مجنتو
                    </h3>
                </a>

                <p class="service-text">با استفاده از کادر فنی دارای سرتیفیکیت ما اصول و استاندارهای مجنتو را در تیم خود نهادینه کنید </p>

            </div>

            <div class="service">
                <a href="#">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/systems-integration.png')); ?>" alt="SYSTEMS INTEGRATION">
                    </span>
                    <h3 class="section-header">
                        یکپارچه سازی با سایر سیستم ها
                    </h3>
                </a>

                <p class="service-text">یکپارچه سازی فروشگاه با سیستمهای سازمان شما 
                جهت اتوماسیون فرايند ها از ابتدا تا انتها </p>

            </div>

            <div class="service">
                <a href="#">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/code-audit.jpg')); ?>" alt="CODE AUDIT">
                    </span>
                    <h3 class="section-header">
                       بررسی امنیتی و بهینه سازی سورس کد
                    </h3>
                </a>

                <p class="service-text">از عملکرد بهینه ، کیفیت کد بالا و سرعت اجرای مجنتو ۲ خود اطمینان حاصل کنید</p>

            </div>
        </div>

        <div class="button-container">
            <a href="#a>
        </div>
    </div>
</div>
