#bogus { display: none }

//
//    Common
//--------------------------------------

& when (@media-common = true) {


@font-face {
  font-family: iranyekanfa;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iranyekanfa/eot/iranyekanwebboldfanum.eot');
  src: url('../fonts/iranyekanfa/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/iranyekanfa/woff/iranyekanwebboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekanfa/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekanfa;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/iranyekanfa/eot/iranyekanweblightfanum.eot');
  src: url('../fonts/iranyekanfa/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/iranyekanfa/woff/iranyekanweblightfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekanfa/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekanfa;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iranyekanfa/eot/iranyekanwebregularfanum.eot');
  src: url('../fonts/iranyekanfa/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/iranyekanfa/woff/iranyekanwebregularfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekanfa/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iranyekan/eot/iranyekanwebbold.eot');
  src: url('../fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/iranyekan/woff/iranyekanwebbold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/iranyekan/eot/iranyekanweblight.eot');
  src: url('../fonts/iranyekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/iranyekan/woff/iranyekanweblight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iranyekan/eot/iranyekanwebregular.eot');
  src: url('../fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../fonts/iranyekan/woff/iranyekanwebregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/iranyekan/ttf/iranyekanwebregular.ttf') format('truetype');
}
/* FONT */

  .items {
      .lib-list-reset-styles();
  }
}
