<div class="modular-row callout modular-blog-list">
    <div class="max-width">
        <h2 class="title">Ecommerce Blog</h2>
        <div class="subtitle"><p>Thoughts, ideas and updates on Magento 2 development, eCommerce and business</p></div>
        <div class="blog-container">
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-1">
                        <div class="post-category"><span class="post-label">News</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">Nov 15, 2018</span><span class="time"> · 5 mins</span>
                    </div>
                    <h3 class="post-title"><a href="reza.html">Magento 2.3 release: 13 features that will amaze you</a></h3>

                    <div class="post-summary">
                        <p>At the Magento Imagine Conference in April 2018, Magento announced the next significant release on the Magento platform - Magento 2.3. It has tremendous features, optimizations, and back-end enhancements. It is slated for release at the end of the year.</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-2">
                        <div class="post-category"><span class="post-label">Payments</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">Oct 25, 2018</span><span class="time"> · 8 mins</span>
                    </div>
                    <h3 class="post-title"><a href="blog.html">How to Choose the Best Payment Method for your E-commerce Store</a></h3>

                    <div class="post-summary">
                        <p>Confused about the payment method to use on your e-commerce store?&nbsp; You are not alone. There are myriads of payment methods online, which makes it difficult to know the best one for your e-commerce store. You need to choose the best payment method because it can be very risky for your business if yo...</p>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post-container">
                    <div class="image-container blog-3">
                        <div class="post-category"><span class="post-label">Magento</span></div>
                    </div>
                    <div class="date-container">
                        <span class="date">Oct 25, 2018</span><span class="time"> · 8 mins</span>
                    </div>
                    <h3 class="post-title"><a href="blog.html">How to Choose the Best Payment Method for your E-commerce Store</a></h3>

                    <div class="post-summary">
                        <p>Confused about the payment method to use on your e-commerce store?&nbsp; You are not alone. There are myriads of payment methods online, which makes it difficult to know the best one for your e-commerce store. You need to choose the best payment method because it can be very risky for your business if yo...</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-container">
            <a href="blog.html" class="button action large">Read Blog</a>
        </div>
    </div>
</div>