<?php /** @var \Magento\Framework\View\Element\Template $block */?>
<div class="modular-row callout showcase-services">
    <div class="max-width">
        <h2 class="title">سرویس های ما</h2>

        <div class="services">

            <div class="service">
                <a href="/services/magento-2-development">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magemarket-magento-2-development.png')); ?>" alt="Magento 2 Development">
                    </span>
                    <h3 class="section-header">
                        توسعه مجنتو ۲
                    </h3>
                </a>

                <p class="service-text">اهداف خود را با بهترین های ما در خدمات توسعه کلاس مجنتو به دست آورید</p>

            </div>

            <div class="service">
                <a href="/services/technical-theme">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magemarket-technical-theme.png')); ?>" alt="TECHNICAL CONSULTING">
                    </span>
                    <h3 class="section-header">
                        مشاوره فنی
                    </h3>
                </a>

                <p class="service-text">با افزودن یک مشاور فنی اختصاصی به پروژه مجنتو ، توسعه خود را تقویت کنید</p>

            </div>

            <div class="service">
                <a href="/services/magento-2-migration">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magemarket-magento-2-migration.png')); ?>" alt="Magento 2 Migration">
                    </span>
                    <h3 class="section-header">
                        ارتقا مجنتو۲
                    </h3>
                </a>

                <p class="service-text">حداکثر ارتفاع را با پلت فرم جدید مجنتو۲ و فرصت های تجارت الکترونیکی بدست آورید</p>

            </div>

            <div class="service">
                <a href="/services/architectural-advisory">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magemarket-architectural-advisory.png')); ?>" alt="ARCHITECTURAL ADVISORY">
                    </span>
                    <h3 class="section-header">
                        مشاوره معماری
                    </h3>
                </a>

                <p class="service-text">انتظارات تجاری را به اسناد معماری گام به گام و راهنمای فنی تبدیل کنید</p>

            </div>

            <div class="service">
                <a href="/services/systems-integration">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magemarket-systems-integration.png')); ?>" alt="SYSTEMS INTEGRATION">
                    </span>
                    <h3 class="section-header">
                        ادغام سیستم
                    </h3>
                </a>

                <p class="service-text">سیستم های ERP و CRM را از طریق ادغام قوی و قابل اعتماد در فروشگاه تجارت الکترونیکی خود متصل کنید</p>

            </div>

            <div class="service">
                <a href="/services/code-audit">
                    <span class="image">
                        <img src="<?= $block->escapeUrl($block->getViewFileUrl('Magento_Cms::images/services/magemarket-code-audit.png')); ?>" alt="CODE AUDIT">
                    </span>
                    <h3 class="section-header">
                       کد حسابرسی
                    </h3>
                </a>

                <p class="service-text">از عملکرد بهینه ، کیفیت کد بالا و عملکرد عملکرد مجنتو ۲ خود اطمینان حاصل کنید</p>

            </div>
        </div>

        <div class="button-container">
            <a href="services.html" class="action button large">همه ی سرویس ها</a>
        </div>
    </div>
</div>
